@font-face {
    font-family: 'Inconsolata-Bold';
    src: url('/fonts/Inconsolata-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, head, html {
    font-family: Inconsolata-Regular;
    font-weight: 400;
    background-color: #1e1e2e;
    color: #a06cd5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 3vw;
    line-height: 1.6;
    margin-right: 3vw;
}

a {
    color: #b17fe4;
}

button {
    background-color: #6a509b;
    color: white;
    padding: 12px 25px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #7d5fc1;
    transform: scale(1.05);
    box-shadow: 0 0 15px #a06cd5;
}

input {
    width: 60%;
    padding: 15px;
    border: 2px solid #64468b;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.1em;
    background-color: #2c2b3e;
    color: white;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #6a509b;
}

input:hover {
    box-shadow: 0 0 15px #a06cd5;
}

/* Layout and Responsive Design Features */
header, footer {
    text-align: center;
    padding: 20px;
    background-color: #261b31;
    color: white;
}

nav {
    background-color: #5a0071;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 3;
    padding: 20px;
    background-color: #2c2b3e;
    margin-right: 10px;
    color: #a06cd5;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #1f1f2e;
    color: #a06cd5;
}

footer {
    margin-top: 20px;
    background-color: #160b18;
    padding: 10px 10px 10px 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        margin-right: 0;
    }
}

/* Optional media queries for even smaller devices */
@media (max-width: 480px) {
    input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    body {
        margin-left: 1vw;
    }
}
